#cred-block {
    padding: 50px;
    font-family: Algerian;
    font-size: xx-large;
}

#cred-ul {
    padding-left: 300px
}

#a {
    background: linear-gradient(450deg, rgba(180,40,0,1) 10%, rgba(25,192,690,1) 100%);
}