/*This scroll bar style has been borrowed from W3schools*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: no-repeat;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dc2bff;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.all {
    padding : 50px;
    background: linear-gradient(450deg, rgba(241,4,300,1) 10%, rgba(25,192,690,1) 100%);
    font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size : medium;
    scroll-behavior : smooth;
}

.foot0{
    padding : 0px;
}

.head0{
    padding : 0px;
    background-color : #161515;
}

.txt-center{
    text-align : center
}

.txt-color {
    color: ThreeDFace;
}